/*  your css code here. If applicable */
body{
	min-height:100vh;
	background: linear-gradient(to bottom right,pink,#dfe9f3,#ffffff,pink);
  	margin: 0;
}
.container{
	min-height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
.start-screen{
	display: none;
}
.form-screen{
	width: 380px;
	margin-top: 60px;
	padding: 30px;
	text-align: center;
	background-color: #6088B0;
	border-radius:8px;
	backdrop-filter: blur(8px);
	box-shadow: 0 10px 30px rgba(0, 0, 0, 0.15);
	
}
.game-screen h1{
	margin-bottom: 20px;
}
/* .game-screen{
	display: none;
} */
.game-screen{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
}
.message{
	margin-top: 10px;
	margin-bottom: 15px;
	font-size: 22px;
	font-weight: 600px;
	letter-spacing: 1px;
	color: rgb(159, 15, 61);
}
.message.win{
	color:rgb(67, 153, 67);
	font-style: bold;
	font-size: 30px;
}
.board{
	display: grid;
	grid-template-columns: repeat(3, 110px);
	grid-template-rows: repeat(3,110px);
	gap: 5px;
	margin: 20px auto;
}
.cell{
	background-color: pink;
	border: 2px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 50px;
	font-weight: bold;
	cursor: pointer;
}
.cell:hover{
	background-color: rgb(249, 174, 186);
}
h1{
	text-align: center;
	color:#15294E;
	font-size:80px;
	font-family:'Permanent Marker',cursive;
	letter-spacing: 4px;
  	text-shadow: 2px 4px 8px rgba(0,0,0,0.2);
}

label[for="player-1"]{
	color: #202028;
	/* -webkit-text-stroke: 0.5px black; */
	
}
label{
	display:block;
	margin:15px 0 5px;
	font-weight:bold;
	font-size: 18px;
}
input{
	width:260px;
	padding:12px;
	border:2px solid #ccc;
	border-radius: 5px;
	margin: 12px 0;
	font-size: 16px;
	outline:none;
}
input:focus{
	border-color: #0e3a0f;
	box-shadow: 0 0 6px rgba(21,41,78,0.4);
}
input::placeholder{
	color: #888;
}
button{
	padding: 12px 25px;
	margin: 10px 0px;
	/* border:2px solid transparent; */
	border:none;
	background-color:rgb(9, 9, 4) ;
	border-radius: 5px;
	color: white;
	font-size: 16px;
	cursor: pointer;
	transition: 0.2s ease;
}
button:active{
	transform: scale(0.95);
}
button:hover{
	background-color: #15294E;
	/* border:2px solid black; */
	font-size: 16px;
}